---
import Signature from "../../signature.astro";
---

<section class="px-4">
  <div class="relative">
    <img src="/assets/crowd.png" alt="CEO" class="w-full" />
    <div
      class="text-[1.25rem]/[0.9] absolute bottom-0 font-sans font-extrabold tracking-tighter self-start"
    >
      <span class="text-primary">WORD</span>
    </div>
    <div
      class="text-[1.25rem]/[0.9] absolute top-full font-sans font-extrabold tracking-tighter self-start"
    >
      FROM <br />
      THE CEO
    </div>
  </div>
  <div class="flex items-center justify-center relative">
    <div class="w-1/2 relative -top-16">
      <img src="/assets/ceo.png" alt="CEO" />
      <div
        class="text-[1.5rem]/[0.9] font-bold font-sans whitespace-nowrap absolute top-1/2 right-0"
      >
        <span class="text-background">LEADING</span>
      </div>
      <div
        class="text-[1.5rem]/[0.9] font-bold font-sans whitespace-nowrap absolute top-1/2 left-full ml-1"
      >
        <span class="text-foreground">WITH</span>
      </div>
      <div class="absolute bottom-0 align-bottom left-1/2 -translate-x-1/2">
        <p
          class="text-primary text-[5rem] relative scale-y-140 scale-x-110 font-sans font-bold top-8"
        >
          VISION
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-6 mx-2">
    <div class="pt-20 text-end text-xs font-light">
      <p
        class="[&>span]:bg-transparent [&>span:hover]:bg-primary transition-colors [&>span]:duration-150"
      >
        <span> FOR US, BUSINESS IS NOT ABOUT CHASING MONEY. </span>
        <span> IT’S ABOUT CREATING REAL </span>
        <span> VALUE FOR PEOPLE AND SOCIETY. </span>
        <span> GROWTH IS NOT ONLY MEASURED IN NUMBERS, </span>
        <span> BUT IN THE DIFFERENCE WE MAKE WHETHER </span>
        <span> IT’S THROUGH A SKINCARE FORMULA, A LOGISTICS PLATFORM, </span>
        <span>
          OR A TECH SOLUTION THAT CHANGES THE WAY PEOPLE LIVE AND WORK.
        </span>
        <span>
          <span class="bg-primary"> THINKERCARE</span>
          <span class="bg-primary">GROUP</span>
          <span class="bg-primary">IS</span>
          <span class="bg-primary">MORE</span>
          <span class="bg-primary">THAN</span>
          <span class="bg-primary">A</span>
          <span class="bg-primary">COMPANY.</span>
          <span class="bg-primary">IT’S A</span>
          <span class="bg-primary">STATEMENT</span>
          <span class="bg-primary">OF</span>
          <span class="bg-primary">INTENT.</span>
        </span>
      </p>
      <div class="flex items-start justify-end mt-16 gap-4">
        <svg
          width="21"
          height="16"
          viewBox="0 0 21 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="size-13 -translate-y-5"
        >
          <path
            d="M0.00216461 16L0 5.76023C0.25326 2.40661 3.36489 -0.272507 6.8391 0.0347599V3.12111C5.55981 2.93906 4.64959 3.84823 4.30542 4.9605C4.23507 5.18674 4.0922 5.72866 4.0922 5.94017V7.09768H9.15848V15.9106L9.06648 16H0.00216461ZM11.9054 16V5.46559C11.9054 3.73459 13.6609 1.60371 15.161 0.796613C16.2519 0.209439 17.371 -0.00312233 18.6178 3.45878e-05C18.6882 3.45878e-05 18.6969 0.00424385 18.7423 0.0652761V3.12111C17.6026 2.97168 16.7628 3.62936 16.332 4.60588C16.2194 4.86158 15.9954 5.56766 15.9954 5.82126V7.09768H21L20.9697 16H11.9054Z"
            fill="black"></path>
        </svg>

        <p>
          THINKERCARE IS <br /> NOT A COMPANY <br /> YOU LOOK AT. <br /> IT’S A COMPANY
          <br />
          YOU FEEL.
        </p>
      </div>
    </div>
    <div class="pt-4 text-xs font-light">
      <p
        class="[&>span]:bg-transparent [&>span:hover]:bg-primary transition-colors [&>span]:duration-150"
      >
        <span>
          AT THINKERCARE GROUP, WE DON’T JUST BUILD BUSINESSES WE BUILD
          MOVEMENTS.
        </span>
        <span>
          OUR VISION IS NOT CONFINED TO ONE INDUSTRY ,ONE MARKET, OR ONE IDEA.
        </span>
        <span>
          WE INVEST, CREATE, AND SCALE ACROSS BEAUTY, HEALTH, WELLNESS, FOOD,
          TECHNOLOGY,
        </span>
        <span>
          AND BEYOND. EVERY BRAND WE LAUNCH CARRIES THE SAME DNA: INNOVATION,
          COURAGE, ETHICS, AND IMPACT.
        </span>
      </p>
      <!-- signature -->
      <div class="mt-24">
        <Signature />
        <div class="text-xs">
          CEO <br />
          THINKERCARE GROUP
        </div>
      </div>
    </div>
  </div>
</section>
