<section class="space-y-4 mb-16 p-4 max-w-7xl mx-auto">
  <img src="/assets/crowd.png" alt="CEO" class="w-full -mb-52" />
  <div class="flex items-center justify-center relative">
    <img src="/assets/ceo.png" alt="CEO" class="w-4/9" />
    <div class="absolute -bottom-19 left-1/2 -translate-x-1/2">
      <svg
        width="29"
        height="26"
        viewBox="0 0 29 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="size-24 ms-auto"
      >
        <path
          d="M2 2.43974H27V23.8299M2 23.8299L26.5073 2"
          stroke="black"
          stroke-width="4"
          stroke-miterlimit="10"></path>
      </svg>

      <p
        class="text-primary text-[15rem]/[1.25] scale-y-130 font-sans font-bold"
      >
        VISION
      </p>
    </div>
    <div
      class="absolute top-42 left-12 text-[4rem]/[0.9] font-sans font-extrabold tracking-tighter scale-y-110"
    >
      <span class="text-primary">WORD</span>
      <br />
      FROM <br />
      THE CEO
    </div>
    <div
      class="absolute top-4/7 left-[calc(50%+17%)] -translate-x-1/2 text-[4.5rem]/[0.9] font-bold font-sans whitespace-nowrap"
    >
      <span class="text-background">LEADING</span>
      <span class="text-foreground">WITH</span>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-12 max-w-5xl mx-auto">
    <div class="pt-20 text-end text-2xl font-light">
      <p
        class="[&>span]:bg-transparent [&>span:hover]:bg-primary transition-colors [&>span]:duration-150"
      >
        <span> FOR US, BUSINESS IS NOT ABOUT CHASING MONEY. </span>
        <span> IT’S ABOUT CREATING REAL </span>
        <span> VALUE FOR PEOPLE AND SOCIETY. </span>
        <span> GROWTH IS NOT ONLY MEASURED IN NUMBERS, </span>
        <span> BUT IN THE DIFFERENCE WE MAKE WHETHER </span>
        <span> IT’S THROUGH A SKINCARE FORMULA, A LOGISTICS PLATFORM, </span>
        <span>
          OR A TECH SOLUTION THAT CHANGES THE WAY PEOPLE LIVE AND WORK.
        </span>
        <span>
          THINKERCARE GROUP IS MORE THAN A COMPANY. IT’S A STATEMENT OF INTENT.
        </span>
      </p>
      <div class="flex items-start justify-end mt-16 gap-4">
        <svg
          width="21"
          height="16"
          viewBox="0 0 21 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="size-13 -translate-y-5"
        >
          <path
            d="M0.00216461 16L0 5.76023C0.25326 2.40661 3.36489 -0.272507 6.8391 0.0347599V3.12111C5.55981 2.93906 4.64959 3.84823 4.30542 4.9605C4.23507 5.18674 4.0922 5.72866 4.0922 5.94017V7.09768H9.15848V15.9106L9.06648 16H0.00216461ZM11.9054 16V5.46559C11.9054 3.73459 13.6609 1.60371 15.161 0.796613C16.2519 0.209439 17.371 -0.00312233 18.6178 3.45878e-05C18.6882 3.45878e-05 18.6969 0.00424385 18.7423 0.0652761V3.12111C17.6026 2.97168 16.7628 3.62936 16.332 4.60588C16.2194 4.86158 15.9954 5.56766 15.9954 5.82126V7.09768H21L20.9697 16H11.9054Z"
            fill="black"></path>
        </svg>

        <p>
          THINKERCARE IS <br /> NOT A COMPANY <br /> YOU LOOK AT. <br /> IT’S A COMPANY
          <br />
          YOU FEEL.
        </p>
      </div>
    </div>
    <div class="pt-4 text-2xl font-light">
      <p
        class="[&>span]:bg-transparent [&>span:hover]:bg-primary transition-colors [&>span]:duration-150"
      >
        <span>
          AT THINKERCARE GROUP, WE DON’T JUST BUILD BUSINESSES WE BUILD
          MOVEMENTS.
        </span>
        <span>
          OUR VISION IS NOT CONFINED TO ONE INDUSTRY ,ONE MARKET, OR ONE IDEA.
        </span>
        <span>
          WE INVEST, CREATE, AND SCALE ACROSS BEAUTY, HEALTH, WELLNESS, FOOD,
          TECHNOLOGY,
        </span>
        <span>
          AND BEYOND. EVERY BRAND WE LAUNCH CARRIES THE SAME DNA: INNOVATION,
          COURAGE, ETHICS, AND IMPACT.
        </span>
      </p>
      <!-- signature -->
      <div class="mt-24">
        <svg
          width="121"
          height="33"
          viewBox="0 0 121 33"
          fill="none"
          class="w-[80%] h-fit"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.08448 17.7279C2.48549 17.5932 2.81302 17.431 3.14055 17.2006C4.41438 16.3841 5.2509 15.3984 6.01574 14.2826C7.36214 12.3715 8.34473 10.3201 8.78204 8.07365C8.92721 7.14356 9.10867 6.3122 9.14586 5.39073C9.29103 4.3243 9.25474 3.20458 9.07238 2.06293C8.9635 1.56145 8.85463 1.12814 8.45361 0.785722C7.98091 0.653299 7.65338 0.781804 7.43473 1.17359C7.28956 1.32168 7.28956 1.55988 6.99832 1.58261C6.85225 1.4925 6.6345 1.40787 6.37956 1.32638C5.97944 1.93678 5.68821 2.47038 5.43326 3.06903C4.15943 5.45106 3.06706 7.81743 2.15797 10.306C1.68436 11.5683 1.28425 12.7915 1.0293 14.1384C0.92043 14.9291 0.884139 15.715 0.884139 16.497C0.956722 16.7979 1.0656 17.1285 1.17538 17.4263C1.46571 17.811 1.75695 17.8557 2.08448 17.7279ZM7.43473 0.118909C7.79855 -0.0464234 8.19866 -0.0440725 8.67226 0.155736C9.10867 0.358679 9.3999 0.709716 9.58227 1.10385C9.9098 1.89368 10.1285 2.69292 10.0922 3.51174C10.055 5.52237 9.87351 7.44132 9.3999 9.38455C8.9635 11.0528 8.23586 12.5737 7.25327 14.0475C6.6345 15.0152 5.86966 15.9273 4.99595 16.7454C4.66933 17.1121 4.3046 17.4474 3.8682 17.7209C3.14055 18.1871 2.37571 18.5209 1.35683 18.3642C0.591994 18.1197 0.191882 17.5736 0.119299 16.7971C-0.0621579 15.8247 -0.0258665 14.9032 0.15559 13.97C0.48312 12.5149 0.92043 11.1194 1.46571 9.81708C2.48549 7.11535 3.68583 4.434 5.17831 1.831C5.43326 1.40239 5.65192 0.976911 6.05203 0.536548C6.1609 0.357112 6.30697 0.209802 6.56101 0.0193961C6.81596 0.100887 7.03462 0.0491714 7.43473 0.118909ZM13.9862 11.9766C13.2949 12.746 12.6398 13.4113 11.6563 13.7623C11.2562 13.7945 10.965 13.6816 10.7835 13.4583C10.5286 13.1723 10.3825 12.8777 10.4188 12.5345C10.5286 11.2675 10.71 10.0279 11.4023 8.78199L11.7298 8.41529C11.9113 8.4004 12.021 8.39178 12.0573 8.42312L12.3849 8.87289C11.6935 9.64313 11.6935 10.5278 11.4386 11.3983C11.3288 11.7815 11.3288 12.1215 11.2199 12.5047C11.2199 12.7429 11.1836 12.8816 11.4386 12.9968C11.6935 12.9764 11.875 12.826 12.0573 12.7092C12.9664 12.0581 13.6587 11.186 14.35 10.3146C14.9325 9.55302 15.4415 8.76397 15.9877 7.9381C16.1338 7.68814 16.2789 7.40449 16.679 7.26972C16.7888 7.36296 16.9703 7.38255 17.1526 7.47031C17.3341 8 17.2615 8.51637 17.1164 9.07191C16.8614 9.77242 16.679 10.4674 16.5702 11.1907C16.4604 11.9139 16.425 11.917 16.7153 12.6418L17.0066 12.8228L17.2252 12.8056C17.9529 12.5086 18.5353 12.0542 19.0815 11.5676C19.7729 10.9337 20.3916 10.2723 21.0104 9.64392C21.2654 9.45351 21.4105 9.27172 21.5929 9.12128C21.9204 9.02647 22.1382 9.14557 22.2117 9.44567C22.1019 9.55616 22.1019 9.62433 21.993 9.73559C21.083 10.7268 20.2093 11.6475 19.2267 12.5768C18.9727 12.8354 18.6442 12.9976 18.3539 13.2593C17.9529 13.5296 17.5528 13.5954 17.1164 13.5962C16.6065 13.637 16.2063 13.4654 15.9151 13.1143C15.6239 12.7296 15.4052 12.3386 15.4052 11.8285C15.4052 11.3184 15.4052 10.7738 15.4415 10.2269C14.9688 10.8091 14.5315 11.4226 13.9862 11.9766Z"
            fill="#1D1D1B"></path>
          <path
            d="M26.7963 6.27434C26.6872 6.31692 26.6508 6.3866 26.6144 6.3897C25.7748 6.35486 25.0817 6.67927 24.4613 7.16471C24.0238 7.46899 23.659 7.76629 23.257 8.10076C22.8194 8.50491 22.491 8.96791 22.381 9.61517C22.381 9.9179 22.5274 10.1749 22.783 10.3902L23.2206 10.7254C23.9137 11.1745 24.3885 11.7087 24.7897 12.3831C25.0453 12.3962 25.1545 12.2197 25.3373 12.1043L25.7384 11.8039L29.2415 9.20715C29.6435 8.94004 29.971 8.71318 30.4094 8.57692C31.0298 8.83087 31.0298 8.83087 30.9934 9.37128C30.2994 9.66162 29.7163 10.1115 29.1323 10.5605C27.7087 11.581 26.3952 12.6595 25.0453 13.707C24.4977 15.2632 23.5126 16.4842 22.199 17.5627C21.9434 17.8182 21.6151 18.0118 21.2867 18.2061C20.8128 18.4786 20.3743 18.4794 20.0095 18.1387C19.864 17.8476 19.864 17.5116 20.0095 17.0633C20.9947 15.5396 22.4547 14.3821 23.951 13.189C23.951 12.987 23.9137 12.8553 23.8773 12.757C23.7318 12.366 23.4762 12.0834 23.1478 11.8063C22.7466 11.536 22.491 11.2535 22.0899 10.9159C21.2503 10.209 21.2503 8.99888 21.9798 8.13406C22.8558 7.09039 23.9137 6.33473 25.1545 5.86632C25.4464 5.74244 25.7748 5.75018 26.0668 5.72696C26.3224 5.70682 26.5044 5.8609 26.76 6.00878C26.76 6.14272 26.76 6.24414 26.7963 6.27434Z"
            fill="#1D1D1B"></path>
          <path
            d="M35.3577 5.66107C35.2486 5.70288 35.2122 5.77334 35.1758 5.77643C34.3362 5.74159 33.643 6.06523 33.0226 6.55145C32.5842 6.85495 32.2194 7.15304 31.8182 7.48674C31.3807 7.89089 31.0523 8.35389 30.9423 9.00193C30.9423 9.30388 31.0887 9.56171 31.3434 9.77617L31.7819 10.1114C32.475 10.5613 32.9499 11.0947 33.351 11.7691C33.6066 11.7822 33.7158 11.6057 33.8986 11.4903L34.2998 11.1899L37.8029 8.5939C38.204 8.32679 38.5324 8.09916 38.97 7.96367C39.5903 8.21685 39.5903 8.21685 39.554 8.75727C38.8608 9.04761 38.2768 9.49744 37.6937 9.9465C36.2701 10.967 34.9566 12.0455 33.6066 13.0938C33.059 14.6493 32.0739 15.8702 30.7603 16.9488C30.5047 17.2043 30.1763 17.3978 29.8479 17.5922C29.3731 17.8655 28.9356 17.8662 28.5708 17.5256C28.4243 17.2345 28.4243 16.8984 28.5708 16.4494C29.5559 14.9264 31.0159 13.7689 32.5114 12.5751C32.5114 12.373 32.475 12.2421 32.4386 12.1438C32.2922 11.752 32.0375 11.4694 31.7091 11.193C31.307 10.9221 31.0523 10.6402 30.6503 10.3019C29.8115 9.595 29.8115 8.38486 30.5411 7.5208C31.4171 6.47635 32.475 5.72069 33.7158 5.25305C34.0078 5.12917 34.3362 5.13691 34.6282 5.11368C34.8838 5.09355 35.0657 5.24685 35.3213 5.39473C35.3213 5.52945 35.3213 5.6301 35.3577 5.66107Z"
            fill="#1D1D1B"></path>
          <path
            d="M38.8097 10.3053C40.0969 9.10177 41.274 7.90673 42.3036 6.58926C42.3036 6.58926 42.3402 6.51996 42.3769 6.34979L42.0093 5.77614C41.7517 5.83004 41.605 5.90858 41.4941 5.95016C41.0164 6.22197 40.6854 6.54845 40.3912 6.93884C39.6926 7.82896 39.1407 8.77452 38.7364 9.77629C38.6254 10.0188 38.6254 10.1859 38.5154 10.4616C38.6997 10.3469 38.8097 10.3053 38.8097 10.3053ZM38.2211 11.6551C37.7068 11.6613 37.4492 11.4472 37.4859 11.0437C37.4859 10.8766 37.5225 10.7065 37.5592 10.4693C38.1478 8.98627 38.8097 7.63107 39.9502 6.37135C40.0969 6.19348 40.2811 6.04487 40.4645 5.86392C40.9431 5.42502 41.494 5.11471 42.2669 5.28873C42.4503 5.40808 42.6345 5.52743 42.8921 5.74149C43.1488 5.7207 43.1864 5.61829 43.2965 5.47584C43.6274 5.0816 43.9217 4.7582 44.326 4.35856C44.4369 4.35009 44.5836 4.30543 44.7312 4.29388C45.0622 4.36857 45.2822 4.58494 45.1722 4.86138C45.0989 5.16784 44.9879 5.41039 44.8412 5.65602C44.5469 6.3136 44.2527 6.97195 43.9217 7.5995C43.6641 8.12156 43.5907 8.6621 43.4441 9.20803C43.4065 9.44519 43.4441 9.44211 43.7008 9.72316C44.106 9.7247 44.3627 9.57147 44.6203 9.31737C45.3189 8.79454 45.5398 8.61051 46.2384 8.12079C46.6436 7.82203 46.9746 7.52866 47.3046 7.26917C47.7099 7.2376 47.8941 7.39006 47.8941 7.69113C47.8565 7.79431 47.8199 7.86361 47.7099 7.97295L45.5032 9.91643C45.2455 10.1705 44.9513 10.2937 44.657 10.4508C44.2893 10.6464 43.8484 10.7142 43.3698 10.6518C42.8188 10.594 42.4503 10.1213 42.3402 9.59534C42.3036 9.09638 42.3036 8.6621 42.4878 8.1462C42.5979 7.97064 42.6345 7.86746 42.4878 7.64493C41.9359 8.05534 41.6417 8.57971 41.1998 9.01553C40.7588 9.41747 40.3545 9.88409 39.9502 10.283C39.4716 10.7219 39.0673 11.2208 38.5154 11.565C38.3687 11.6097 38.2578 11.652 38.2211 11.6551Z"
            fill="#1D1D1B"></path>
          <path
            d="M56.5359 5.26067C57.2077 4.5125 57.8794 3.76433 58.5864 3.04723C58.8341 2.7843 59.0818 2.62574 59.3295 2.46638C59.7183 2.46798 59.966 2.5859 60.1423 2.77872C60.1423 2.81298 60.1776 2.87991 60.2137 2.9803C60.249 3.35797 60.2137 3.74122 60.0718 4.09897L59.3648 6.33791C59.1171 6.91158 59.0465 7.50598 58.9046 8.10595C58.8694 8.35056 58.8694 8.62783 58.9046 8.86687C58.9046 8.97045 58.9751 8.99913 59.0113 9.10032C59.3295 9.17761 59.5058 8.95451 59.7535 8.79595L61.6982 7.1793C61.9812 6.94824 63.0778 5.88773 63.3608 5.69093C63.7143 5.73077 63.8906 5.92279 63.8553 6.23751C63.7496 6.34986 63.7143 6.45663 63.6085 6.56977C62.8654 7.15062 61.2389 8.8095 60.4958 9.39035C60.107 9.70029 59.7183 9.8708 59.1876 10.019L58.5159 9.83335C58.0566 9.45728 57.8441 8.92105 57.8441 8.22945C57.8441 7.57211 57.9499 6.94027 58.1976 6.26301C58.3739 5.65985 58.5511 5.09175 58.7988 4.48302L58.8694 4.13084C58.6216 4.01292 58.6216 4.15156 58.5159 4.26391C57.5259 5.28139 56.6417 6.35862 55.7575 7.43586C55.3688 7.88365 55.1211 8.35454 54.7323 8.80233L53.8834 9.73854C53.7062 9.75288 53.6357 9.79352 53.5299 9.80228C53.1411 9.76563 52.9639 9.60787 52.9639 9.29633C52.9287 8.78082 52.9639 8.32825 53.105 7.86612L54.0244 4.98738L54.5198 3.52769C54.3435 3.40339 54.2721 3.51335 54.1663 3.62649C53.9186 3.8201 53.7776 3.9699 53.5299 4.23283L50.5944 7.69641L49.2509 9.40071C48.8621 9.84849 48.5792 10.2182 48.1895 10.6309C47.9427 10.8939 47.8008 11.0444 47.412 11.0421C47.1643 11.0285 47.1643 10.9943 46.7755 10.5074C46.5983 9.13936 47.0938 7.7482 47.412 6.37217C47.412 6.26859 47.553 6.22238 47.5883 6.11561C47.9074 6.05426 48.0132 6.18333 48.119 6.41679C47.9427 7.15779 47.7655 7.93385 47.6244 8.74177C47.553 9.16247 47.5178 9.58078 47.5178 9.96084C47.4825 9.99829 47.5178 10.0995 47.6244 10.2636C48.0485 9.8469 48.3667 9.43975 48.6849 9.03339C50.2761 6.96258 51.9387 4.98977 53.7423 3.03926L54.2369 2.54766C54.4141 2.35962 54.6256 2.20425 54.8733 2.04489L55.4746 2.27118C55.5803 2.64247 55.5803 3.05759 55.404 3.52211L54.4846 6.40165L53.9892 7.99998C53.9539 8.10675 53.9892 8.17288 53.9892 8.4151C54.9439 7.26217 55.7223 6.26301 56.5359 5.26067Z"
            fill="#1D1D1B"></path>
          <path
            d="M63.3225 8.18877C64.5776 6.95874 65.7263 5.73736 66.7309 4.39085C66.7309 4.39085 66.7676 4.32002 66.8033 4.1461L66.4446 3.55981C66.1932 3.6149 66.0492 3.69517 65.9419 3.73767C65.4749 4.01547 65.1519 4.34914 64.8648 4.74814C64.1831 5.65787 63.6455 6.62427 63.2501 7.64812C63.1427 7.89602 63.1427 8.06679 63.0354 8.34853C63.2143 8.23205 63.3225 8.18877 63.3225 8.18877ZM62.7482 9.56833C62.2454 9.57541 61.9941 9.35664 62.0299 8.94348C62.0299 8.7727 62.0665 8.59878 62.1023 8.3564C62.6757 6.84069 63.3225 5.45562 64.4345 4.16893C64.5776 3.98635 64.7574 3.83446 64.9372 3.64952C65.4033 3.20095 65.9419 2.8838 66.6951 3.06166C66.8749 3.18364 67.0547 3.30562 67.3052 3.5244C67.5566 3.50315 67.5924 3.39848 67.7006 3.25289C68.0227 2.85075 68.3098 2.51943 68.7052 2.11178C68.8126 2.10234 68.9566 2.0567 69.0997 2.04489C69.4227 2.12123 69.6383 2.34237 69.53 2.62489C69.4585 2.9381 69.3511 3.186 69.2071 3.43704C68.9199 4.1099 68.6328 4.78198 68.3098 5.42336C68.0593 5.95692 67.9878 6.50938 67.8437 7.06734C67.808 7.30972 67.8437 7.30658 68.0951 7.59382C68.4896 7.5954 68.741 7.43879 68.9924 7.17909C69.6741 6.64473 69.8897 6.45665 70.5713 5.95614C70.9658 5.65079 71.2888 5.35096 71.6117 5.08575C72.0062 5.05348 72.1861 5.2093 72.1861 5.51701C72.1503 5.62246 72.1145 5.69329 72.0062 5.80504L69.853 7.79135C69.6025 8.05105 69.3153 8.17697 69.0282 8.33751C68.6694 8.5374 68.2383 8.60665 67.7722 8.54291C67.2336 8.48389 66.8749 8.00069 66.7676 7.46318C66.7309 6.95323 66.7309 6.50938 66.9107 5.98211C67.018 5.80268 67.0547 5.69722 66.9107 5.46979C66.3722 5.88924 66.085 6.42517 65.6547 6.8706C65.2244 7.28139 64.829 7.7583 64.4345 8.16595C63.9675 8.61452 63.573 9.12448 63.0354 9.47626C62.8913 9.5219 62.784 9.56518 62.7482 9.56833ZM36.0359 25.3825C37.3635 24.7616 38.6911 24.2776 40.0195 23.7244L40.8086 23.3867L41.3471 21.3611L43.5361 13.3584C43.6435 12.9736 43.7875 12.6202 44.0747 12.2897C44.2178 12.2432 44.3252 12.2007 44.4334 12.2259C44.4692 12.2228 44.5408 12.2519 44.6839 12.3424V13.1963C44.2894 13.6385 44.1462 14.1627 44.0022 14.6868C43.4279 16.7841 42.8178 18.7814 42.2444 20.8779C42.0645 21.4736 41.9214 22.0662 41.7774 22.6588C41.7416 22.7643 41.7774 22.7957 41.7774 22.898C41.8856 22.9232 41.8856 22.9917 41.993 22.983C45.1151 21.908 48.1656 20.8039 51.3593 19.8603L51.6464 19.2559L54.23 11.5279C54.7685 9.8784 55.3062 8.29659 55.9887 6.70376C56.2392 6.17098 56.5264 5.63426 56.9218 5.08968C57.1007 4.83628 57.3163 4.68203 57.5677 4.62694C57.8182 4.60648 58.1411 4.71666 58.2493 4.94724C58.2851 5.0464 58.2493 5.18648 58.2493 5.32262C57.998 5.44618 57.8548 5.45798 57.675 5.57524C57.3163 6.11668 57.0291 6.72107 56.8135 7.31996L52.7226 19.134C52.6868 19.1709 52.6868 19.2733 52.6868 19.444C53.1538 19.4401 53.5841 19.2001 54.0511 19.1277C54.5171 19.0553 54.9474 18.9175 55.4144 18.7775C55.8447 18.7074 56.2392 18.6075 56.6704 18.5721C57.1365 18.4997 57.6035 18.4273 58.0695 18.4918C58.1778 18.5854 58.2136 18.6508 58.3209 18.779C58.1411 18.9301 57.998 19.0104 57.9622 19.0128C57.4236 19.1599 56.8493 19.2064 56.3117 19.3527C54.9832 19.5644 53.7281 19.9744 52.4354 20.3191C52.1841 20.5788 52.1125 20.9259 52.0052 21.2084L49.0629 30.0241C48.9546 30.4089 48.8115 30.7622 48.6675 31.1502C48.5243 31.6059 48.273 31.9679 47.95 32.2677C47.5555 32.3338 47.4115 32.3456 47.161 32.093C47.6986 31.3997 47.9142 30.6647 48.1656 29.9265C49.0262 27.2594 49.8877 24.7293 50.7492 22.0969L51.0363 21.0825C51.0721 20.977 51.0363 20.9456 51.0363 20.8433C50.9281 20.8181 50.9281 20.7496 50.8207 20.7921C47.806 21.6877 44.8995 22.7792 41.8856 23.8117C41.7058 23.8605 41.5627 23.9408 41.4544 24.0517C40.9884 25.6957 40.6287 27.3987 40.593 28.2219L41.0957 28.6248L40.737 29.0301C40.414 29.0569 40.1627 28.9404 39.9829 28.6815C39.7324 27.3358 40.27 25.9594 40.5214 24.5381C40.414 24.4444 40.3058 24.4185 40.1627 24.4649L35.4974 26.4174L34.8873 26.7408L34.3854 27.1918C33.99 27.0532 33.9543 27.0564 34.0625 26.5346C34.6717 25.9727 35.3543 25.6776 36.0359 25.3825Z"
            fill="#1D1D1B"></path>
          <path
            d="M55.9327 23.5967C57.2199 22.3932 58.3971 21.1982 59.4266 19.8807C59.4266 19.8807 59.4633 19.8114 59.5009 19.6412L59.1323 19.0683C58.8756 19.1215 58.728 19.2 58.618 19.2424C58.1395 19.5134 57.8085 19.8399 57.5142 20.231C56.8156 21.1212 56.2637 22.0667 55.8594 23.0677C55.7494 23.3103 55.7494 23.4774 55.6385 23.7538C55.8227 23.639 55.9327 23.5967 55.9327 23.5967ZM55.3451 24.9465C54.8299 24.9534 54.5722 24.7394 54.6089 24.3351C54.6089 24.168 54.6456 23.9979 54.6822 23.7615C55.2708 22.2777 55.9327 20.9225 57.0732 19.6636C57.2199 19.4849 57.4042 19.3371 57.5885 19.1554C58.0661 18.7172 58.618 18.4061 59.3899 18.5802C59.5742 18.6995 59.7576 18.8189 60.0152 19.0329C60.2728 19.0129 60.3095 18.9097 60.4195 18.7673C60.7505 18.3738 61.0447 18.0496 61.45 17.6508C61.56 17.6423 61.7067 17.5969 61.8543 17.5853C62.1852 17.66 62.4062 17.8772 62.2952 18.1528C62.2219 18.4593 62.1119 18.7018 61.9643 18.9475C61.67 19.6058 61.3757 20.2641 61.0447 20.8917C60.7871 21.413 60.7138 21.9535 60.5671 22.5002C60.5304 22.7366 60.5671 22.7335 60.8247 23.0146C61.229 23.0169 61.4866 22.8629 61.7433 22.6088C62.4428 22.086 62.6629 21.9019 63.3624 21.413C63.7667 21.1135 64.0976 20.8209 64.4286 20.5606C64.8329 20.529 65.0172 20.6823 65.0172 20.9826C64.9805 21.0857 64.9429 21.1558 64.8329 21.2644L62.6262 23.2086C62.3686 23.4627 62.0752 23.5859 61.7809 23.7422C61.4124 23.9386 60.9714 24.0063 60.4938 23.9432C59.9419 23.8862 59.5742 23.4127 59.4633 22.8868C59.4266 22.3886 59.4266 21.9535 59.6109 21.4376C59.7209 21.2621 59.7576 21.1589 59.6109 20.9364C59.059 21.3475 58.7647 21.8719 58.3237 22.307C57.8818 22.7097 57.4775 23.1755 57.0732 23.5744C56.5947 24.0133 56.1904 24.513 55.6385 24.8564C55.4918 24.9018 55.3808 24.9434 55.3451 24.9465Z"
            fill="#1D1D1B"></path>
          <path
            d="M73.6888 18.7559C74.3786 18.0078 75.0685 17.2597 75.7955 16.5435C76.049 16.2806 76.3034 16.1212 76.5578 15.9619C76.957 15.9643 77.2114 16.0814 77.3934 16.2742C77.3934 16.3093 77.4296 16.3754 77.4658 16.4758C77.502 16.8534 77.4658 17.2366 77.3201 17.5943L76.594 19.8331C76.3396 20.4075 76.2672 21.001 76.1223 21.601C76.0852 21.8464 76.0852 22.1228 76.1223 22.3618C76.1223 22.4662 76.1947 22.4949 76.2309 22.5953C76.5578 22.6725 76.7397 22.4503 76.9932 22.2909L78.9913 20.6752C79.2819 20.4442 80.4072 19.3829 80.6979 19.1862C81.0609 19.226 81.2429 19.4188 81.2067 19.7327C81.0971 19.8458 81.0609 19.9526 80.9523 20.0649C80.1891 20.6457 78.5187 22.3045 77.7564 22.8861C77.3563 23.1952 76.957 23.3665 76.412 23.5147L75.7221 23.329C75.2505 22.9522 75.0323 22.4168 75.0323 21.7245C75.0323 21.068 75.1418 20.4362 75.3953 19.7582C75.5773 19.1551 75.7584 18.587 76.0128 17.9784L76.0852 17.6262C75.8317 17.5091 75.8317 17.6469 75.7221 17.7601C74.7055 18.7766 73.7974 19.8538 72.8894 20.9317C72.4901 21.3795 72.2357 21.8495 71.8365 22.2973L70.9646 23.2334C70.7836 23.2486 70.7111 23.2884 70.6016 23.2972C70.2023 23.2613 70.0204 23.1028 70.0204 22.7912C69.9841 22.2758 70.0204 21.8232 70.1661 21.362L71.1104 18.4827L71.6183 17.0231C71.4372 16.8996 71.3639 17.0096 71.2552 17.1219C71.0008 17.3155 70.856 17.4661 70.6016 17.729L67.5877 21.1923L66.2071 22.8956C65.8078 23.3434 65.5172 23.713 65.118 24.1265C64.8636 24.3894 64.7178 24.5392 64.3186 24.5376C64.0642 24.5233 64.0642 24.489 63.6649 24.003C63.4838 22.6343 63.9917 21.244 64.3186 19.8681C64.3186 19.7646 64.4643 19.7176 64.5005 19.6108C64.8274 19.5495 64.936 19.6793 65.0455 19.912C64.8636 20.6537 64.6816 21.4297 64.5367 22.2367C64.4643 22.6574 64.4281 23.0757 64.4281 23.4565C64.391 23.4939 64.4281 23.5943 64.5367 23.7584C64.9722 23.3426 65.299 22.9354 65.6259 22.5283C67.26 20.4577 68.9675 18.4851 70.8198 16.5347L71.3286 16.044C71.5096 15.8559 71.7278 15.6998 71.9813 15.5404L72.5987 15.7667C72.7083 16.1388 72.7083 16.5538 72.5263 17.0183L71.5821 19.8968L71.0742 21.495C71.0379 21.6018 71.0742 21.6679 71.0742 21.9101C72.0546 20.7573 72.8531 19.7582 73.6888 18.7559Z"
            fill="#1D1D1B"></path>
          <path
            d="M83.9271 18.0631C83.9271 17.8622 83.8188 17.7707 83.6011 17.7545C83.3112 18.0115 83.239 18.3516 83.0936 18.6632C83.0936 19.031 82.9491 19.5095 83.1297 19.7965C83.2751 19.8181 83.3835 19.8765 83.4557 19.9042C83.7456 19.3803 83.9632 18.6278 83.9271 18.0631ZM81.935 18.8548C81.3913 19.6665 80.9569 20.469 80.6309 21.2969C80.4855 21.6085 80.3772 21.9178 80.304 22.2248C80.2679 22.394 80.1956 22.6002 80.4494 22.7472C80.8477 22.8164 81.1737 22.5564 81.4636 22.3663C82.1887 21.9085 82.6231 21.4731 83.0936 20.6675C82.3693 20.2905 82.2239 19.5003 82.1156 18.8409C82.0794 18.8102 82.0433 18.7801 82.0433 18.7463L82.1156 18.7409C82.1517 18.7378 82.1517 18.7047 82.1517 18.6709C82.1156 18.7071 82.0794 18.744 82.0794 18.7771C81.9711 18.8194 81.935 18.8548 81.935 18.8548ZM83.0936 17.0267L83.7817 16.972C84.3254 17.1629 84.4708 17.4852 84.5791 17.9115C84.7245 18.4678 84.5791 18.9802 84.4346 19.8265C85.1589 19.8696 85.1589 19.8696 87.9485 18.6801L88.3467 18.9494C88.3829 19.0464 88.3829 19.1133 88.3829 19.1802C88.2745 19.3557 88.1291 19.5011 87.8753 19.5872L86.6806 20.1835C85.4849 20.7121 85.3395 20.7567 83.9994 20.8629C83.7456 21.0507 83.6011 21.3623 83.4196 21.6439C82.9852 22.3132 82.587 22.6118 81.8979 23.0665C81.4274 23.3712 80.8838 23.5812 80.2679 23.4966C79.7974 23.3666 79.5436 23.0526 79.3621 22.6325C79.326 21.7339 79.652 20.9729 80.0512 20.2405C80.5939 19.2618 81.0653 18.2562 81.9711 17.516L82.587 17.5345L83.0936 17.0267Z"
            fill="#1D1D1B"></path>
          <path
            d="M90.8917 20.4847C90.2273 21.2604 89.5978 21.9296 88.6535 22.2832C88.269 22.3155 87.9891 22.2019 87.8139 21.977C87.5698 21.6889 87.4294 21.3922 87.4643 21.0474C87.5698 19.7706 87.7441 18.5221 88.4085 17.2674L88.7233 16.8981C88.8985 16.8839 89.0031 16.8744 89.038 16.906L89.3528 17.3597C88.6884 18.1347 88.6884 19.0256 88.4434 19.9023C88.3388 20.2882 88.3388 20.6307 88.2341 21.0166C88.2341 21.2565 88.1993 21.3962 88.4434 21.513C88.6884 21.4925 88.8636 21.3402 89.038 21.2234C89.9125 20.5676 90.5769 19.6893 91.2422 18.811C91.801 18.0447 92.291 17.2493 92.8159 16.4175C92.9554 16.1658 93.0958 15.8801 93.4803 15.7452C93.5849 15.8391 93.7602 15.858 93.9345 15.9464C94.1098 16.4799 94.04 16.9999 93.8997 17.5594C93.6547 18.2657 93.4803 18.9656 93.3757 19.694C93.2702 20.4216 93.2353 20.4248 93.5152 21.1547L93.795 21.337L94.0052 21.3196C94.7044 21.0206 95.2642 20.5629 95.789 20.0736C96.4534 19.4352 97.0481 18.7684 97.6427 18.1355C97.8868 17.9437 98.0272 17.7606 98.2016 17.6091C98.5163 17.5144 98.7264 17.6336 98.7962 17.9358C98.6916 18.0479 98.6916 18.1157 98.5869 18.2278C97.7124 19.2261 96.8728 20.1533 95.9285 21.0892C95.6835 21.3496 95.3688 21.513 95.0889 21.7765C94.7044 22.0488 94.3199 22.1151 93.8997 22.1167C93.4105 22.1577 93.0252 21.9841 92.7453 21.6306C92.4654 21.2431 92.2562 20.8493 92.2562 20.3356C92.2562 19.8219 92.2562 19.2742 92.291 18.7226C91.8368 19.3089 91.4165 19.9268 90.8917 20.4847Z"
            fill="#1D1D1B"></path>
          <path
            d="M105.894 18.2604C104.541 19.4441 104.468 19.2147 102.968 20.2418C102.274 20.6667 101.616 20.9884 100.921 21.4132C100.445 21.6861 99.9338 21.8272 99.385 21.8714C98.251 21.9605 97.7761 21.3248 97.6667 20.5256C97.6293 20.3605 97.6293 20.1589 97.6667 19.9876C98.1416 17.8968 99.2756 16.1246 101.177 14.7967C101.579 14.5292 102.018 14.3595 102.494 14.3222C102.603 14.3137 102.712 14.3052 102.786 14.3323C103.005 14.3486 103.152 14.4719 103.225 14.6347C103.334 14.861 103.261 15.0354 102.968 15.2269C102.859 15.2021 102.712 15.1463 102.53 15.1269C102.457 15.1331 102.383 15.1386 102.347 15.175C101.579 15.606 101.03 16.1541 100.483 16.8371C99.7506 17.6689 99.2756 18.5813 98.9466 19.6504C98.7998 20.0325 98.7633 20.4395 98.8727 20.8682C99.0195 20.8899 99.1653 20.9458 99.3486 20.9318C99.8973 20.9217 100.409 20.6799 100.885 20.4062C101.872 19.8232 102.786 19.3139 103.773 18.6976C104.944 17.965 104.724 18.2519 105.784 17.3603C105.931 17.2479 106.04 17.2053 106.113 17.1665C106.297 17.051 106.479 17.1371 106.662 17.4255C106.479 17.8107 106.186 18.0015 105.894 18.2604Z"
            fill="#1D1D1B"></path>
          <path
            d="M110.759 13.5474C111.013 13.6305 111.158 13.7223 111.338 13.8117C111.592 14.2413 111.483 14.7012 111.374 15.1602C111.122 16.2557 110.905 17.2793 110.723 18.3683C110.543 19.2498 110.398 20.0937 110.254 20.9719C110.145 21.6402 110 22.2063 109.892 22.8738C109.856 23.2578 109.892 23.7057 109.783 24.0962C109.783 24.2694 109.675 24.4515 109.639 24.6279C109.204 24.8371 108.88 24.7596 108.699 24.3932C108.699 24.1504 108.663 23.8415 108.699 23.5269C108.735 23.0039 108.771 22.5153 108.88 21.9867C109.06 20.5504 109.313 19.1084 109.711 17.6888C109.964 16.8369 110.145 16.0241 110.398 15.1714C110.434 14.995 110.47 14.8537 110.326 14.6924C109.35 15.5698 108.553 16.5367 107.83 17.601C107.143 18.6286 106.71 19.7735 106.239 20.8865C105.842 21.0925 105.552 21.047 105.299 20.7556C105.299 20.5136 105.227 20.2765 105.335 20.025C105.588 18.5136 105.95 17.0972 106.347 15.6433C107.035 13.0564 107.903 10.4895 108.88 7.913C109.35 6.66108 109.964 5.50177 110.651 4.33608C110.833 4.04386 111.013 3.75164 111.41 3.47618L111.881 3.74924C111.845 3.99515 111.772 4.13967 111.737 4.24666C111.338 5.07621 111.049 5.86266 110.651 6.69301C109.819 8.52938 109.277 10.3761 108.663 12.2293C108.265 13.4061 107.976 14.6085 107.577 15.7846L107.288 16.8489C107.325 16.8457 107.325 16.8457 107.325 16.88C107.325 16.9152 107.325 16.9495 107.361 16.9814C108.409 15.6816 109.277 14.3626 110.759 13.5474ZM114.485 15.8062C114.376 15.9187 114.231 16.0345 114.376 16.2653C114.918 16.013 115.461 15.6561 115.932 15.2018C116.076 15.0509 116.257 14.9319 116.148 14.6293C115.425 14.8273 114.918 15.2505 114.485 15.8062ZM114.81 14.2892C115.063 14.1295 115.425 14.0305 115.714 13.9027C116.04 13.8061 116.329 13.8516 116.582 14.0041C117.052 14.2429 117.161 14.6157 116.908 15.1211C116.763 15.4453 116.546 15.6369 116.293 15.8996C115.57 16.4792 114.774 16.9264 113.906 17.2745C113.798 17.284 113.726 17.3591 113.616 17.403C111.446 22.4338 117.884 18.2653 119.909 16.1575C120.308 15.882 120.38 15.9108 120.777 16.2589C120.669 16.4066 120.633 16.6174 120.488 16.7331C118.246 18.4082 116.655 20.4114 113.834 20.643C111.483 20.663 111.989 18.6805 112.568 17.0733C113.002 15.8932 113.762 14.9646 114.81 14.2892Z"
            fill="#1D1D1B"></path>
        </svg>
        <div class="-mt-4 text-lg">
          CEO <br />
          THINKERCARE GROUP
        </div>
      </div>
    </div>
  </div>
</section>
